#social {
    animation: titulo1 4s infinite;
  } 
  
  @keyframes social {
    50% {text-shadow: 10px 20px 30px rgb(21, 255, 0);}
      
    }    

    /*Whatsapp*/  


h2 {
	font-family: "Allerta Stencil", Sans-serif; 
	text-shadow: 0 0 3px #67ff02, 0 0 5px #73ff00fb;
} 


#btn {
	cursor: none;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
} 